<%- include('../partials/head.ejs') %>

<div class="container">
    
        <% for(const article of data){ %>
            <div class="row justify-content-center mt-3 mb-3">
                <div class="col-10 col-sm-6 card p-0">
                    <img src="<%= article.media %>" alt="img-of-article" class="card-img-top news-img">
                    <div class="card-body">
                        <h2 class="card-title">
                            <%= article.title %>
                        </h2>
                        <p class="card-text">
                            <%= article.summary %>
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        <div class="row align-items-center mb-2">
                            <div class="col-6">
                                <a href="<%= article.link %>" target="_blank" class="btn btn-primary">Original Article</a>
                            </div>
                            <p class="col-6 text-end m-0">
                                <% if(article.author == null || article.author == 'none' || article.author == ""){ %>
                                    <% article.author = 'none' %>
                                <% } %>
                                <span>Author : <%= article.author %></span>
                                <span class="d-block">Rights : <%= article.rights %></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>

</div>

<%- include('../partials/footer.ejs') %>